*{
    margin: 0;
    padding: 0;
  }
  
  .main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(../../image/bgr.jpg);
    background-position: center;
    background-size: cover;
    height: 25vh;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
  }
  
  li {
    float: left;
  }
  
  li a,
  .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 34px 20px;
    text-decoration: none;
  }
  
  li a:hover,
  .dropdown:hover .dropbtn {
    background-color: #c85250;
    transition: all 0.5s ease;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  
  .dropdown-content a:hover {
    background-color: #f85f5f;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
  }
  
  .icon{
    width: 600px;
    float: left;
    height: 70px;
  }
  
  .logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 15px;
    margin-top: 5px
  }
  
  
  
  .page-hero {
    position: relative;
    height: 550px;
    z-index: 10;
  }
  .page-hero.overlay-dark::before,
  .page-banner.overlay-dark::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(81, 175, 128, 0.959);
    z-index: 1;
  }
  .page-banner {
    position: relative;
    height: 300px;
    z-index: 10;
  }

  .hero-section,
  .banner-section {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    color: #ffffff;
    z-index: 10;
  }
  .bg-image {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* .bg-image-parallax {
    background-attachment: fixed;
  } */
  
  .bg-image-overlay-dark {
    position: relative;
  }
  
  .bg-image-overlay-dark::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #343531;
  }
  
  /* .bg-image > * {
    position: relative;
    z-index: 5;
  } */

  .breadcrumb {
    background-color: #f8f9fa;
  }
  
  .breadcrumb-dark .breadcrumb-item a {
    color: #000000;
  }
  
  .breadcrumb-dark .breadcrumb-item a:hover {
    color: #ffffff;
    text-decoration: none;
  }
  
  .breadcrumb-dark .breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: rgba(255, 255, 255, 0.8);
    content: "/";
  }
  
  .breadcrumb-dark .breadcrumb-item.active {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .hero-section .subhead {
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  .hero-section h1 {
    margin-bottom: 32px;
  }
  .page-section {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;
  }
  /* .custom-img-1 {
    width: auto;
    max-width: 20px;
  } */
  .card-blog {
    position: relative;
    display: block;
    max-width: 264px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    overflow: hidden;
  }
  
  .card-blog .header {
    width: 100%;
    height: 140px;
    background-color: #9A9F97;
    overflow: hidden;
  }
  
  .card-blog .header .post-thumb {
    position: relative;
    overflow: hidden;
  }
  
  .card-blog .header .post-thumb img {
    width: 100%;
    transition: transform .2s linear;
  }
  
  .card-blog .header .post-thumb:hover img {
    transform: scale(1.2);
  }
  
  .card-blog .body {
    padding: 15px 20px;
  }
  
  .card-blog .post-category {
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 9;
  }
  
  .card-blog .post-category a {
    display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
    background-color: #4E5AFE;
    color: #fff;
    border-radius: 40px;
  }
  
  .card-blog .post-category a:hover {
    text-decoration: none;
  }
  
  .card-blog .post-title,
  .card-blog .post-title a {
    color: #343531;
  }
  
  .card-blog .post-title:hover,
  .card-blog .post-title a:hover {
    text-decoration: none;
    color: #07be94;
  }
  
  .card-blog .site-info {
    margin-top: 12px;
    font-size: 12px;
    color: #6D7170;
  }
  
  .card-blog .avatar-img {
    width: 28px;
    height: 28px;
  }
  
  .blog-details {
    position: relative;
    display: block;
  }
  
  .blog-details .post-thumb {
    position: relative;
    display: block;
    margin-bottom: 32px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(154, 159, 151, 0.3);
  }
  
  .blog-details .post-title {
    margin-bottom: 24px;
    font-weight: 400;
  }
  
  .blog-details .post-content {
    font-size: 18px;
    line-height: 1.7;
    color: #6E807A;
  }
  
  .blog-details .post-thumb img {
    width: 100%;
  }
  
  .blog-details .post-meta {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
  }
  
  .blog-details .post-meta a {
    color: #6E807A;
  }
  
  .blog-details .post-meta a:hover {
    color: #07be94;
    text-decoration: none;
  }
  
  .blog-details .post-meta .divider {
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .blog-details .post-tags {
    display: block;
    padding: 16px 0;
  }
  
  .blog-details .post-tags a {
    display: inline-block;
    padding: 4px 12px;
    background-color: #596261;
    color: #fff;
    font-size: 14px;
    border-radius: 40px;
    transition: all .2s ease;
  }
  
  .blog-details .post-tags a:hover {
    text-decoration: none;
    background-color: #07be94;
    color: #fff;
  }
  .avatar {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
  }
  
  .avatar-img {
    margin-right: 6px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .avatar-img img {
    width: 100%;
    height: 100%;
  }
  .page-footer {
    position: relative;
    display: block;
    padding-top: 80px;
    padding-bottom: 16px;
    background-color: #2D3B38;
    color: #fff;
  }
  
  .page-footer h5 {
    font-weight: 500;
    margin-bottom: 16px;
  }
  
  .page-footer hr {
    border-color: #4F5E5B;
  }
  
  .footer-menu {
    position: relative;
    list-style: none;
    padding-left: 0;
  }
  
  .footer-menu a,
  .footer-link {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    color: rgba(255, 255, 255, 0.6);
    transition: all .2s ease;
  }
  
  .footer-menu a:hover,
  .footer-link:hover {
    text-decoration: none;
    color: #fff;
  }
  
  .footer-link {
    padding: 0;
    margin-bottom: 16px;
  }
  
  .footer-sosmed a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 42px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    background-color: #26312F;
    color: #ffff;
    transition: all .2s ease;
  }
  
  .footer-sosmed a:hover {
    background-color: #00D9A5;
    text-decoration: none;
  }
  .card-doctor {
    display: block;
    margin: 15px auto;
    width: 100%;
    max-width: 240px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(154, 159, 151, 0.2);
    overflow: hidden;
  }
  
  .card-doctor .text-xl {
    font-weight: 500;
  }
  
  .card-doctor .header {
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
  }
  
  .card-doctor .header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(52, 53, 49, 0.36);
    opacity: 0;
    transition: opacity .2s linear;
  }
  
  .card-doctor:hover .header::before {
    opacity: 1;
  }
  
  .card-doctor .header .meta {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease;
  }
  
  .card-doctor:hover .header .meta {
    bottom: 15px;
    visibility: visible;
    opacity: 1;
  }
  
  .card-doctor .header .meta a {
    display: inline-block;
    margin: 3px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
    color: #6E807A;
    box-shadow: 0 4px 8px rgba(154, 159, 151, 0.6);
    transition: all .2s ease;
  }
  
  .card-doctor .header .meta a:hover {
    text-decoration: none;
    background-color: #6E807A;
    color: #fff;
  }
  
  .card-doctor .header img {
    width: 100%;
  }
  
  .card-doctor .body {
    padding: 15px 20px;
  }
  .sidebar-block {
    position: relative;
    display: block;
    padding: 15px 24px;
    margin-bottom: 32px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #E8EEE4;
    box-shadow: 0 4px 12px rgba(154, 159, 151, 0.2);
  }
  
  .sidebar-block::after {
    display: block;
    clear: both;
    content: "";
  }
  
  .sidebar-title {
    font-weight: 600;
    margin-bottom: 24px;
    color: #596261;
  }
  
  .sidebar-title::after {
    content: '';
    display: block;
    margin-top: 10px;
    width: 50px;
    height: 3px;
    background-color: #00D9A5;
    border-radius: 40px;
  }
  .categories {
    position: relative;
    list-style: none;
    padding-left: 0;
  }
  
  .categories li {
    display: block;
    float: left;
    margin-bottom: 12px;
    width: 50%;
  }
  
  .categories li a {
    display: inline-block;
    width: 90%;
    padding: 6px 12px;
    background-color: #E1EBE8;
    color: #6E807A;
    border-radius: 4px;
    transition: all .2s ease;
  }
  
  .categories li a:hover {
    text-decoration: none;
    background-color: #d5dfdc;
    color: #596261;
  }
  
  .categories li a span {
    float: right;
    margin-left: 8px;
    padding: 3px 6px;
    background-color: #6E807A;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    border-radius: 40px;
  }

  .blog-item {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-bottom: 12px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E8EEE4;
  }
  
  .blog-item .post-thumb {
    flex-shrink: 0;
    position: relative;
    display: inline-block;
    margin-right: 15px;
    width: 100px;
    height: 80px;
    background-color: #A1AAA7;
    overflow: hidden;
  }
  
  .blog-item .post-thumb img {
    width: auto;
    height: 100%;
  }
  
  .blog-item .post-title a {
    color: #6D7170;
    transition: all .2s ease;
  }
  
  .blog-item .post-title a:hover {
    color: #07be94;
    text-decoration: none;
  }
  
  .blog-item .meta a {
    margin-right: 6px;
    font-size: 12px;
    color: #6E807A;
  }
  
  .blog-item .meta a:hover {
    text-decoration: none;
  }
  .tagcloud {
    position: relative;
    display: block;
  }
  
  .tag-cloud-link {
    display: inline-block;
    padding: 4px 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    border: 1px solid #d7dfdc;
    border-radius: 40px;
    font-size: 14px;
    color: #6E807A;
    transition: all .2s ease;
  }
  
  .tag-cloud-link:hover,
  .tag-cloud-link:focus {
    text-decoration: none;
    background-color: #f8f9fa;
    color: #07be94;
    border-color: #07be94;
  }

  .page-link {
    margin-left: 5px;
    min-width: 40px;
    color: #6E807A;
    border: 1px solid #dee6e5;
    text-align: center;
    border-radius: 4px;
  }
  
  .page-link:hover {
    color: #2D3B38;
    background-color: #E1EBE8;
    border-color: #dee6e4;
  }
  
  .page-link:focus {
    box-shadow: none;
  }
  
  .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #00D9A5;
    border-color: #00D9A5;
  }
  
  .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
  }
  
  .pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  .pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }
  
  .pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
  
  .pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
  }
  
  .pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
  }
  
  .pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
  }

  .contact-form {
    display: block;
    max-width: 900px;
    margin: 15px auto;
  }
  
  /* login-admin */
.acount-page{
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(../../image/bgr.jpg);
  background-position: center;
  background-size: cover;
  height: 89.5vh;
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    margin: auto;
    padding: 20px 0;
      /* box-shadow: 0 0 20px rgba(0,0,0,0,1) */
    /* overflow: hidden; */
}
/* .acount-page .container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right:5px;
} */

.acount-page .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    /* transition: transform 1s; */
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid rgb(151, 146, 146);
}
form .btn{
    width: 100%;
    border:none;
    cursor: pointer;
    margin: 10px 0;

}
form .btn:focus{
    outline: none;
}
#LoginForm{
    left: 0px;
}
/* #RegForm{
    left: 0;
} */
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background: rgb(1, 9, 124);
    height: 3px;
    margin-top: 8px;
    /* transform: translateX(0px); */
    /* transition: transform 1s; */
}
.acount-page .col-2{
  flex-basis:50%;
  min-width: 300px;
}
.acount-page .col-2 img {
  width:4.5in;
  padding:100px 0;
}
#LoginForm .btn{
  display: inline-block;
  background: #ff523b;
  margin: 30px 0;
  padding: 8px 30px;
  border-radius: 30px;
  transition: background 0.4s;
}
#LoginForm .btn:hover{
  background: #563434;
}